# Data Analysis (Spark)
Once we have made the data ready for analysis, we have to perform below analysis queries

In [19]:
# Show all the Databases of Hive
df = spark.sql("show databases").show()

+-----------------+
|        namespace|
+-----------------+
|         airlines|
|            cog41|
|          default|
|healthcare_system|
|          sumitdb|
+-----------------+

In [20]:
# USe healthcare_system Database
spark.sql("use healthcare_system").show()

++
||
++
++

In [21]:
# Print all the tables which are present in the healthcare_system database.
sparkdf = spark.sql("show tables")
sparkdf.toPandas().to_csv('Spark Outputs for Visualization/Database.csv')
sparkdf.show()

+-----------------+----------+-----------+
|         database| tableName|isTemporary|
+-----------------+----------+-----------+
|healthcare_system|    claims|      false|
|healthcare_system|   disease|      false|
|healthcare_system|    groups|      false|
|healthcare_system|grp_subgrp|      false|
|healthcare_system|  hospital|      false|
|healthcare_system|   patient|      false|
|healthcare_system|  subgroup|      false|
|healthcare_system|subscriber|      false|
+-----------------+----------+-----------+

In [22]:
# Describe the claims table
sparkdf = spark.sql("desc claims")
sparkdf.toPandas().to_csv('Spark Outputs for Visualization/Claims_tble.csv')
sparkdf.show()

+-----------------+---------+-------+
|         col_name|data_type|comment|
+-----------------+---------+-------+
|         claim_id|      int|   null|
|       patient_id|      int|   null|
|     disease_name|   string|   null|
|           sub_id|   string|   null|
|claim_or_rejected|   string|   null|
|       claim_type|   string|   null|
|     claim_amount|   double|   null|
|       claim_date|   string|   null|
+-----------------+---------+-------+

In [23]:
# Describe the disease table
sparkdf = spark.sql("desc disease")
sparkdf.toPandas().to_csv('Spark Outputs for Visualization/disease_tble.csv')
sparkdf.show()

+------------+---------+-------+
|    col_name|data_type|comment|
+------------+---------+-------+
|  disease_id|      int|   null|
|disease_name|   string|   null|
|   subgrp_id|   string|   null|
+------------+---------+-------+

In [24]:
# Describe the groups table
sparkdf = spark.sql("desc groups")
sparkdf.toPandas().to_csv('Spark Outputs for Visualization/groups_tble.csv')
sparkdf.show()

+---------------+---------+-------+
|       col_name|data_type|comment|
+---------------+---------+-------+
|         grp_sk|      int|   null|
|         grp_id|   string|   null|
|       grp_name|   string|   null|
|premium_written|      int|   null|
|           city|   string|   null|
|       zip_code|      int|   null|
|        country|   string|   null|
|       grp_type|   string|   null|
+---------------+---------+-------+

In [25]:
# Describe the grp_subgrp table
sparkdf = spark.sql("desc grp_subgrp")
sparkdf.toPandas().to_csv('Spark Outputs for Visualization/grp_subgrp_tble.csv')
sparkdf.show()

+---------+---------+-------+
| col_name|data_type|comment|
+---------+---------+-------+
|grpsub_sk|      int|   null|
|     g_id|   string|   null|
|     s_id|   string|   null|
+---------+---------+-------+

In [26]:
# Describe the hospital table
sparkdf = spark.sql("desc hospital")
sparkdf.toPandas().to_csv('Spark Outputs for Visualization/hospital_tble.csv')
sparkdf.show()

+-------------+---------+-------+
|     col_name|data_type|comment|
+-------------+---------+-------+
|  hospital_id|   string|   null|
|hospital_name|   string|   null|
|         city|   string|   null|
|        state|   string|   null|
|      country|   string|   null|
+-------------+---------+-------+

In [27]:
# Describe the patient table
sparkdf = spark.sql("desc patient")
sparkdf.toPandas().to_csv('Spark Outputs for Visualization/patient_tble.csv')
sparkdf.show()

+------------------+---------+-------+
|          col_name|data_type|comment|
+------------------+---------+-------+
|        patient_id|      int|   null|
|      patient_name|   string|   null|
|    patient_gender|   string|   null|
|patient_birth_date|   string|   null|
|     patient_phone|   string|   null|
|      disease_name|   string|   null|
|              city|   string|   null|
|       hospital_id|   string|   null|
+------------------+---------+-------+

In [28]:
# Describe the subgroup table
sparkdf = spark.sql("desc subgroup")
sparkdf.toPandas().to_csv('Spark Outputs for Visualization/subgroup_tble.csv')
sparkdf.show()

+---------------+---------+-------+
|       col_name|data_type|comment|
+---------------+---------+-------+
|      subgrp_sk|      int|   null|
|      subgrp_id|   string|   null|
|    subgrp_name|   string|   null|
|monthly_premium|   double|   null|
+---------------+---------+-------+

In [29]:
# Describe the subscriber table
sparkdf = spark.sql("desc subscriber")
sparkdf.toPandas().to_csv('Spark Outputs for Visualization/subscriber_tble.csv')
sparkdf.show()

+----------+---------+-------+
|  col_name|data_type|comment|
+----------+---------+-------+
|    sub_id|   string|   null|
|first_name|   string|   null|
| last_name|   string|   null|
|    street|   string|   null|
|birth_date|   string|   null|
|    gender|   string|   null|
|     phone|   string|   null|
|      city|   string|   null|
|  zip_code|      int|   null|
|   country|   string|   null|
| subgrp_id|   string|   null|
|  elig_ind|   string|   null|
|  eff_date|   string|   null|
| term_date|   string|   null|
+----------+---------+-------+

In [38]:
# which disease having maximum number of claims.
results = spark.sql("select disease_name,count(claim_id) as \
                    max from claims group by disease_name order by max desc")

In [39]:
results.toPandas().to_csv('Spark Outputs for Visualization/query1.csv')
results.show()

+----------------+---+
|    disease_name|max|
+----------------+---+
|        Glaucoma|  3|
| Phenylketonuria|  3|
|    Galactosemia|  3|
|     Pet allergy|  3|
|         Anthrax|  3|
|    Head banging|  3|
|          Asthma|  2|
|          Scurvy|  2|
|Drug consumption|  2|
|  Bladder cancer|  2|
|   Rett Syndrome|  2|
|         Choking|  2|
|             Flu|  2|
|      Lymphedema|  2|
|    Mold allergy|  2|
| Fanconi anaemia|  2|
|         Measles|  2|
|          Stroke|  2|
|         Cholera|  2|
|         Malaria|  2|
+----------------+---+
only showing top 20 rows

In [40]:
# Find those Subscribers having age less than 30 and they subscribe any subgroup
subscriber_ages = spark.sql("select birth_date,current_date() as CurrentDate,\
          year(current_date())-year(birth_date) as age from subscriber")

In [41]:
res = subscriber_ages.filter(subscriber_ages.age < 30).count()

In [42]:
print("Subscribers having age less than 30 --> ",res)

Subscribers having age less than 30 -->  4

In [43]:
# Find out which group has maximum subgroups.
sparkdf = spark.sql("select g_id,count(s_id) as max from grp_subgrp group by g_id order by max desc")
sparkdf.toPandas().to_csv('Spark Outputs for Visualization/query3.csv')
sparkdf.show()

+------+---+
|  g_id|max|
+------+---+
|GRP104|  2|
|GRP147|  2|
|GRP143|  2|
|GRP108|  1|
|GRP105|  1|
|GRP101|  1|
|GRP148|  1|
|GRP102|  1|
|GRP103|  1|
|GRP114|  1|
|GRP142|  1|
|GRP133|  1|
|GRP112|  1|
|GRP122|  1|
|GRP138|  1|
|GRP157|  1|
|GRP127|  1|
|GRP123|  1|
|GRP126|  1|
|GRP110|  1|
+------+---+
only showing top 20 rows

In [44]:
# Find out hospital which serve most number of patients
sparkdf = spark.sql("select hospital_name,count(patient_id) as total_patient \
          from hospital join patient on hospital.hospital_id=patient.hospital_id \
          group by hospital_name order by total_patient desc")

sparkdf.toPandas().to_csv('Spark Outputs for Visualization/query4.csv')
sparkdf.show()

+--------------------+-------------+
|       hospital_name|total_patient|
+--------------------+-------------+
|   Manipal Hospitals|            9|
|Apollo Hospitals ...|            8|
|Medanta The Medicity|            7|
|Jaslok Hospital a...|            6|
|Indraprastha Apol...|            5|
|PGIMER - Postgrad...|            4|
|Apollo Hospital -...|            4|
|Fortis Hospital M...|            4|
|King Edward Memor...|            3|
|Apollo Health Cit...|            3|
|Yashoda Hospital ...|            3|
|Bombay Hospital &...|            3|
|Fortis Hiranandan...|            2|
|Lilavati Hospital...|            2|
|The Christian Med...|            2|
|Fortis Flt. Lt. R...|            1|
|P. D. Hinduja Nat...|            1|
|Breach Candy Hosp...|            1|
|All India Institu...|            1|
|Sir Ganga Ram Hos...|            1|
+--------------------+-------------+

In [45]:
# Find out which subgroups subscribe most number of times
sparkdf = spark.sql("select subgrp_name, \
          count(sub_id) as cunt from subgroup join \
          subscriber on subgroup.subgrp_id = subscriber.subgrp_id  group by subgrp_name order by cunt desc")

sparkdf.toPandas().to_csv('Spark Outputs for Visualization/query5.csv')
sparkdf.show()

+-------------------+----+
|        subgrp_name|cunt|
+-------------------+----+
|            Therapy|  14|
|         Hereditary|  11|
|              Viral|  11|
|Deficiency Diseases|  11|
|         Physiology|  10|
|          Allergies|  10|
|           Accident|  10|
|             Cancer|   9|
|     Self inflicted|   7|
| Infectious disease|   7|
+-------------------+----+

In [46]:
# Find out total number of claims which were rejected
sparkdf = spark.sql("select claim_or_rejected,count(claim_id) from claims group by claim_or_rejected")

sparkdf.toPandas().to_csv('Spark Outputs for Visualization/query6.csv')
sparkdf.show()
print("The above Result shows the total 52 claims were rejected")

+-----------------+---------------+
|claim_or_rejected|count(claim_id)|
+-----------------+---------------+
|                Y|             18|
|                N|             52|
+-----------------+---------------+

The above Result shows the total 52 claims were rejected

In [47]:
# From where most claims are comming (city)
sparkdf = spark.sql("select patient.city,count(claim_id) as maxclaim from patient join claims on \
          claims.patient_id = patient.patient_id group by patient.city order by maxclaim desc limit 10")
sparkdf.toPandas().to_csv('Spark Outputs for Visualization/query7.csv')
sparkdf.show()

+------------+--------+
|        city|maxclaim|
+------------+--------+
|      Mysore|       2|
|    Amravati|       2|
|   Kamarhati|       2|
|    Jabalpur|       2|
|Bihar Sharif|       2|
|   Ghaziabad|       2|
|       Morbi|       2|
|  Karimnagar|       2|
|   Bangalore|       1|
|     Udaipur|       1|
+------------+--------+

In [48]:
# Which groups of policies subscriber subscribe mostly Goverment or private
sparkdf = spark.sql("select grp_type,count(grp_id) from groups group by grp_type")
sparkdf.toPandas().to_csv('Spark Outputs for Visualization/query8.csv')
sparkdf.show()

+--------+-------------+
|grp_type|count(grp_id)|
+--------+-------------+
|   Govt.|            7|
| Private|           51|
+--------+-------------+

In [49]:
res = spark.sql("select grp_subgrp.g_id from subscriber \
          join grp_subgrp on grp_subgrp.s_id = subscriber.subgrp_id")

res.registerTempTable("grp_tble")

sparkdf = spark.sql("select grp_type,count(grp_tble.g_id) from groups \
          join grp_tble on groups.grp_id = grp_tble.g_id group by grp_type")

sparkdf.toPandas().to_csv('Spark Outputs for Visualization/query9.csv')
sparkdf.show()

+--------+-----------+
|grp_type|count(g_id)|
+--------+-----------+
|   Govt.|         35|
| Private|        347|
+--------+-----------+

In [50]:
print("The Above Result shows that most of the subscribers subscribe private groups")

The Above Result shows that most of the subscribers subscribe private groups

In [51]:
# Average monthly premium subscriber pay to insurance company subgroup.
sparkdf = spark.sql("select subgroup.subgrp_id,avg(monthly_premium) from subscriber right join \
          subgroup on subscriber.subgrp_id = subgroup.subgrp_id group by \
          subgroup.subgrp_id order by subgroup.subgrp_id")
sparkdf.toPandas().to_csv('Spark Outputs for Visualization/query10.csv')
sparkdf.show()

+---------+--------------------+
|subgrp_id|avg(monthly_premium)|
+---------+--------------------+
|     S101|              3000.0|
|     S102|              1000.0|
|     S103|              2000.0|
|     S104|              1500.0|
|     S105|              2300.0|
|     S106|              1200.0|
|     S107|              3200.0|
|     S108|              1500.0|
|     S109|              2000.0|
|     S110|              1000.0|
+---------+--------------------+

In [52]:
# Find out Which group is most profitable
sparkdf = spark.sql("select grp_id,premium_written from groups order by premium_written desc")
sparkdf.toPandas().to_csv('Spark Outputs for Visualization/query11.csv')
sparkdf.show()

+------+---------------+
|grp_id|premium_written|
+------+---------------+
|GRP147|          99000|
|GRP131|          99000|
|GRP123|          99000|
|GRP118|          97000|
|GRP154|          95000|
|GRP133|          93000|
|GRP157|          92000|
|GRP134|          90000|
|GRP143|          90000|
|GRP106|          89000|
|GRP129|          88000|
|GRP152|          87000|
|GRP153|          86000|
|GRP150|          84000|
|GRP124|          81000|
|GRP122|          79000|
|GRP115|          79000|
|GRP121|          78000|
|GRP109|          78000|
|GRP101|          72000|
+------+---------------+
only showing top 20 rows

In [53]:
# List all the patients below age of 18 who admit for cancer

sparkdf = spark.sql("select patient_id, patient_name,\
          year(current_date())-year(patient_birth_date) as age from patient \
          where disease_name like '%cancer' order by age limit 2")
sparkdf.toPandas().to_csv('Spark Outputs for Visualization/query12.csv')
sparkdf.show()

+----------+------------+---+
|patient_id|patient_name|age|
+----------+------------+---+
|    194166|          NA|  9|
|    197441|    Deependu| 18|
+----------+------------+---+

In [54]:
# List patients who have cashless insura0nce and have total charges greater than or equal for Rs. 50,000.

sparkdf = spark.sql("select patient_name,patient_gender,patient_birth_date \
          from patient join claims on patient.patient_id = claims.patient_id \
          where claim_amount >= 50000 and claim_type = 'claims of value'")
sparkdf.toPandas().to_csv('Spark Outputs for Visualization/query13.csv')
sparkdf.show()

+------------+--------------+------------------+
|patient_name|patient_gender|patient_birth_date|
+------------+--------------+------------------+
|   Anjushree|          Male|        1982-06-28|
|  Chitranjan|        Female|        2020-10-27|
|      Gensho|          Male|        1991-07-27|
|  Vaijayanti|          Male|        1969-04-06|
|       Aakar|        Female|        1990-04-24|
|          NA|        Female|        1959-01-06|
|       Saroj|        Female|        1953-07-21|
|     Bhagvan|        Female|        2011-02-26|
|  Dharmadaas|          Male|        1964-10-25|
|       Umang|        Female|        2017-02-26|
|          NA|          Male|        1955-06-03|
|      Kishan|          Male|        1955-06-30|
|          NA|        Female|        1953-04-04|
|     Devnath|        Female|        1982-02-22|
|      Harbir|        Female|        1960-02-24|
|       Ekant|          Male|        1969-11-01|
|          NA|          Male|        2013-10-30|
|          NA|          Male|        1956-04-04|
|       Lalit|        Female|        1978-04-30|
|     Ujjawal|          Male|        1965-12-31|
+------------+--------------+------------------+

In [55]:
# List female patients over the age of 40 that have undergone knee surgery in the past year

sparkdf = spark.sql("select patient_name from patient where patient_gender = 'Female' and disease_name = 'Heart Attack'")
sparkdf.toPandas().to_csv('Spark Outputs for Visualization/query14.csv')
sparkdf.show()

+------------+
|patient_name|
+------------+
|     Upasana|
+------------+

# Thankyou